<div class="background">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ registerMode ? 'Inscription' : 'Connexion' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <mat-form-field appearance="outline"  *ngIf="registerMode">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="firstName" placeholder="Entrez votre Prénom" type="text">
          </mat-form-field>
          <mat-form-field appearance="outline"  *ngIf="registerMode">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastName" placeholder="Entrez votre Nom" type="text">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Entrez votre email" type="email">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" placeholder="Entrez votre mot de passe" type="password">
          </mat-form-field>

          <mat-form-field appearance="outline" *ngIf="registerMode">
            <mat-label>Confirmez le mot de passe</mat-label>
            <input matInput formControlName="confirmPassword" placeholder="Confirmez votre mot de passe" type="password">
          </mat-form-field>

          <a  *ngIf="loginMode">Mot de passe oublié</a>

          <div class="container-button">
            <button mat-raised-button type="submit" *ngIf="loginMode">Se connecter</button>
            <button mat-raised-button type="submit" *ngIf="registerMode">S'inscrire</button>

            <button mat-raised-button type="button"  routerLink="/auth/register" *ngIf="loginMode">S'inscrire </button>
          </div>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
